@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-hover {
  transition: transform 0.15s ease;
 
}
.icon-hover2 {
  transition: transform 0.15s ease;

}
.icon-hover3 {
  transition: transform 0.15s ease;

}
.icon-hover:hover {
  transform: scale(1.2); 
}
.icon-hover2:hover {
  /* transform: scale(1.05);  */
  text-decoration: underline;
}
.icon-hover3:hover {
  transform: scale(1.05);
}
.icon-hover4:hover {
  transform: scale(1.02);
}




.custom-checkbox {
  cursor: pointer;
  border-radius: 0; 
  border-width: 2px; 
  border-color: black;
  accent-color: #3a3a3a; 
}

/* 
.hover-lift {
    position: relative;
    transition: transform 0.2s;
  }
  
  .hover-lift::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s;
  }
  
  .hover-lift:hover {
    transform: translateY(-5px);
  }
  
  .hover-lift:hover::before {
    opacity: 0; 
  }
   */

   /* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;  /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #757575;  /* Color of the scroll thumb */
  border-radius: 10px;
  border: 1.5px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;  /* Color of the scroll thumb on hover */
  border-radius: 10px;
  border: 1.5px solid black;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}