@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-hover {
  transition: transform 0.3s ease;
}

.icon-hover:hover {
  transform: scale(1.2); /* Adjust the scale value to control the size increase */
}



.custom-checkbox {
  cursor: pointer;
  border-radius: 0; /* Sharp edges */
  border-width: 2px; /* Bolder border */
  border-color: black; /* Darker border */
  accent-color: #3a3a3a; /* Grayish-black check */
}


.hover-lift {
    position: relative;
    transition: transform 0.2s;
  }
  
  .hover-lift::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Your shadow here */
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s;
  }
  
  .hover-lift:hover {
    transform: translateY(-5px);
  }
  
  .hover-lift:hover::before {
    opacity: 0; /* Hide the shadow on hover */
  }
  